
name: Publish Preview

on:
  push:
    tags: ["*"]

permissions:
  pull-requests: write
  contents: write


jobs:

  version:
    runs-on: windows-latest
    outputs: 
      version: ${{ github.ref_name }}
    steps:
    - name: Version
      run: Write-Host "publish version is ${{ github.ref_name }}" -Foreground Green


  build:
    runs-on: windows-latest
    needs: version
    outputs:
      version: ${{ needs.version.outputs.version }}
    strategy:
      matrix:
        platform: [x64, arm64]
    env:
      Platform: ${{ matrix.platform }}
      Version: ${{ needs.version.outputs.version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: ./build.ps1 -Architecture $env:Platform -Version $env:Version

    - name: Create Metadata
      run: ./metadata.ps1 -Architecture $env:Platform -Version $env:Version

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: HoYoShadeHub_Portable_${{ needs.version.outputs.version }}_${{ matrix.platform }}.7z
        path: build/release/package/HoYoShadeHub_Portable_${{ needs.version.outputs.version }}_${{ matrix.platform }}.7z

    - name: Upload Metadata
      uses: actions/upload-artifact@v5
      with:
        name: metadata_${{ matrix.platform }}
        path: build/metadata/
        
    # - name: Create Release
    #   uses: softprops/action-gh-release@v1
    #   with:
    #     draft: true
    #     prerelease: true
    #     files: ./build/release/package/*

    - name: Setup AWS CLI for R2
      run: |
        choco install awscli -y
        aws configure set aws_access_key_id ${{ secrets.R2_ACCESS_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.R2_SECRET_ACCESS_KEY }}
        aws configure set region auto

    - name: Upload to Cloudflare R2
      run: |
        aws s3 sync ./build/release/ s3://${{ secrets.R2_BUCKET_NAME }}/release/ --endpoint-url https://${{ secrets.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com


  metadata:
    runs-on: windows-latest
    needs: build

    steps:
    - name: Checkout Metadata
      uses: actions/checkout@v5
      with:
        ref: metadata

    - name: Download Artifact x64
      uses: actions/download-artifact@v5
      with:
        name: metadata_x64

    - name: Download Artifact arm64
      uses: actions/download-artifact@v5
      with:
        name: metadata_arm64

    - name: Create Metadata Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        branch: update-metadata/v1
        delete-branch: true
        title: update metadata ${{ needs.build.outputs.version }}
        commit-message: update metadata ${{ needs.build.outputs.version }}

